.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1;

  .textRow {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    color: rgb(from var(--color-foreground) r g b / 0.6);
    font-size: 0.875rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      cursor: pointer;

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 100%;
          height: auto;
          max-height: 3rem;
        }
      }
    }
  }
}
